$background-color-dark: #101010;
$background-color-dark__lighter: #1a1919;
$background-color-dark__lightest: #1e1e1e;
$background-color-light: #cecece;
$background-color-light__lighter: #fff;

$text-color-dark: #fff;
$text-color-light: #000;
